*{
    background: rgb(189, 68, 68);
}
h1{
    /* margin-left: 660px; */
    margin-top: 80px;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
}
.box{
    text-align: center;
    margin-top: 100px;
  display: flex;
   justify-content: space-around;
   background: rgb(137, 222, 186);  
} 
.container{
    width:300px;
 /* position:absolute; 
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);*/
  /* margin-left: 620px;
   */
   margin:auto;
  border: 2px solid rgb(126, 197, 126);
  margin-top: 30px;
  height: 500px;
  background: rgb(137, 222, 186); 
  border-radius: 4px;
  align-items: center;
 /* display: flex;
 
 
 justify-content: center; */
}
.A{
    margin-top: 15px;
}
button{
    width: 50px;
    height: 50px;
    border-radius: 8px;
    background: rgb(209, 220, 155);
    font-size: 16px;
   text-align: center;
   
}
button:hover{
    background: rgb(196, 210, 128);
}
.showbox{
    width: 293px;
    background:white;
    height: 100px;
    border: 2px solid white;
    font-size: 40px;
    
}
.subcan{
    background: rgb(137, 222, 186);
    height: 330px;
    margin-top: -75px;
}



